.card
{
    margin-right: 15px;
}

.interests-group
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 40px;
}

.container
{
    padding: 0px !important;
}

.main-content
{
    padding: 40px 0px !important;
}